// Colour palette
$default-color: #333;
$red: #ee2b31;
$grey: #707070;
$grey-light: #8b8b8b;
$blue: #1abccf;
$green: #46cfa9;
$dark-purple: #2F2B59;

%font-lora {
  font-family: 'Lora', "Source Sans Pro", sans-serif;
}

%font-sans-pro {
  font-family: 'Source Sans Pro', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Lato", "Helvetica Neue", sans-serif;
}

%font-permanent-marker {
  font-family: 'Permanent Marker', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Lato", "Helvetica Neue", sans-serif;
}

html
{
  @extend %font-lora;
  font-family: 'Lora', "Source Sans Pro", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  @extend %font-lora;
}

a {
  color: $green;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  @extend %font-sans-pro;
}

#main {
  max-width: 960px;
  margin: 0 auto;
}

.site-title {
  font-weight: 600;
  @extend %font-sans-pro;
  font-size: 4em;
  color: #fff;
  a {
    color: $default-color;
  }
}

.title {
  @extend %font-sans-pro;
}

.site-title {
  @extend %font-permanent-marker;
  .hero-homepage & {
    font-size: 6em;
  }
}

.subtitle {
  font-weight: 300;
  @extend %font-lora;
}

.me {
  width: 25%;
  border-radius: 500px;
  border: 5px solid #ddd;
  @media (min-width: 992px) {
    width: 10%;
  }
}

.social {
  list-style: none;
  color: $blue;
  font-size: 2em;

  .item {
    margin: 0 0.5em 0 0.5em;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}


// Navbar
.navbar-item {
  @extend %font-lora;
}
.navbar-brand {
  width: 100px;
}

// Recent Post
  
.Recent_Posts {
  margin: 0 auto;
  max-width: 960px;
  &-title {
    margin-bottom: 40px;
  }

  &-post_title {
    font-weight: 300;
    font-size: 1.5em;
    color: $grey;
    &:hover {
      text-decoration: underline;
    }
  }

  &-created_at {
    color: $grey-light;
    @extend %font-lora;
    font-size: 0.9em;
  }

  &-excerpt {
    font-size: 1.1em;
    line-height: 1.5em;
    color: $grey;
  }
}


// Homepage Specific
.hero-homepage {
  & .hero-container {
    align-items: center;
  }
}

// Projects
.hero-projects {
  & .hero-bg {
    background-color: transparent;
  }
}