// @font-face {
//   font-family: 'Lora';
//   src: url('/fonts/Lora/lora-italic-webfont.woff2') format('woff2'),
//        url('/fonts/Lora/lora-italic-webfont.woff') format('woff'),
//        url('/fonts/Lora/Lora-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
// }

// Colour palette
$default-color: #333;
$red: #ee2b31;
$grey: #707070;
$grey-light: #8b8b8b;
$grey-lighter: #ccc;
$blue: #1abccf;
$green: #46cfa9;
$dark-purple: #2F2B59;

%font-lora {
  font-family: 'Lora', "Source Sans Pro", sans-serif;
}

%font-lora-bold {
  font-family: 'Lora', "Source Sans Pro", sans-serif;
  font-weight: 700;
}

%font-work-sans {
  font-family: 'Work Sans', "Source Sans Pro", sans-serif;
}


%font-sans-pro {
  font-family: 'Source Sans Pro', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Lato", "Helvetica Neue", sans-serif;
}

%font-permanent-marker {
  font-family: 'Permanent Marker', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Lato", "Helvetica Neue", sans-serif;
}

html
{
  @extend %font-work-sans;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  @extend %font-work-sans;
}

a {
  color: $green;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  @extend %font-lora-bold;
}

// #main {
//   max-width: 960px;
//   margin: 0 auto;
// }

.layout-fixed {
  max-width: 960px;
  margin: 0 auto;
}

.site-title {
  font-weight: 600;
  @extend %font-sans-pro;
  font-size: 4em;
  color: #fff;
  a {
    color: $default-color;
  }
}

.title {
  @extend %font-sans-pro;
}

.site-title {
  @extend %font-permanent-marker;
  .hero-homepage & {
    font-size: 6em;
    font-style: normal;
  }
  .hero-postpage & {
    @extend %font-sans-pro;
    text-transform: capitalize;
    font-style: normal;
  }
}

.subtitle {
  font-weight: 300;
  @extend %font-lora;
}

.me {
  width: 25%;
  border-radius: 500px;
  border: 5px solid #ddd;
  @media (min-width: 992px) {
    width: 10%;
  }
}

.social {
  list-style: none;
  color: $blue;
  font-size: 2em;

  .item {
    margin: 0 0.5em 0 0.5em;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}


// Navbar
.navbar-item {
  @extend %font-lora;
}
.brand {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 3;
  width: 100px;
}

.navbar.is-fixed-top {
  box-shadow: 0 1px 8px -1px #ccc;
}

// Recent Post
  
.Recent_Posts {
  margin: 0 auto;
  max-width: 960px;
  &-title {
    .title {
      @extend %font-sans-pro;
    }
    margin-bottom: 40px;
  }

  &-post_title {
    @extend %font-lora;
    font-style: italic;
    font-weight: 300;
    font-size: 1.4em;
    color: $grey;
    &:hover {
      text-decoration: underline;
    }
  }

  &-created_at {
    color: $grey-light;
    @extend %font-lora;
    font-size: 0.9em;
  }

  &-excerpt {
    font-size: 1.1em;
    line-height: 1.5em;
    color: $grey;
  }

  &-item {
    padding: 10px 0;
  }
}


// Homepage Specific
.hero-homepage {
  & .hero-container {
    align-items: center;
  }

  .subtitle {
    font-style: italic;
  }
}

// Projects
.hero-projects {
  & .hero-bg {
    background-color: transparent;
  }
}



// Navigation
.cd-stretchy-nav {
  position: fixed;
  z-index: 2;
  top: 40px;
  right: 5%;
  pointer-events: none;
  .stretchy-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #9acd91;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s;
  }
  &.nav-is-visible {
    pointer-events: auto;
    .stretchy-nav-bg {
      height: 100%;
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    }
  }
}

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto;
  span {
    /* this is the hamburger icon */
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
    &::after, &::before {
      /* this is the hamburger icon */
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: #ffffff;
    }
    /* middle line of the hamburger icon */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    &::after {
      /* top and bottom lines of the hamburger icon */
      content: '';
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
    }
    &::before {
      /* top and bottom lines of the hamburger icon */
      content: '';
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    &::after {
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
}

.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.nav-is-visible .cd-nav-trigger span {
  background-color: transparent;
  &::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-stretchy-nav {
  ul {
    position: relative;
    z-index: 2;
    padding: 60px 0 0;
    visibility: hidden;
    -webkit-transition: visibility 0.3s;
    -moz-transition: visibility 0.3s;
    transition: visibility 0.3s;
    text-align: right;
    a {
      position: relative;
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 calc(1em + 50px) 0 1em;
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.4rem;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      transition: color 0.2s;
      &::after {
        /* navigation item icons */
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        right: 22px;
        top: 50%;
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: .6;
        background: url(~assets/images/cd-sprite-1.svg) no-repeat 0 0;
      }
      &::before {
        /* line visible next to the active navigation item */
        content: '';
        position: absolute;
        width: 3px;
        height: 16px;
        top: 50%;
        right: 60px;
        -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
        -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
        -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
        -o-transform: translateX(3px) translateY(-50%) scaleY(0);
        transform: translateX(3px) translateY(-50%) scaleY(0);
        background-color: #0a9581;
      }
    }
    li {
      &:first-of-type a::after {
        /* change custom icon using image sprites */
        background-position: -32px 0;
      }
      &:nth-of-type(2) a::after {
        background-position: -64px 0;
      }
      &:nth-of-type(3) a::after {
        background-position: -48px 0;
      }
      &:nth-of-type(4) a::after {
        background-position: 0 0;
      }
      &:nth-of-type(5) a::after {
        background-position: -16px 0;
      }
    }
    span {
      /* navigation item labels */
      display: block;
      opacity: 0;
      -webkit-transform: translateX(-25px);
      -moz-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
      -o-transform: translateX(-25px);
      transform: translateX(-25px);
    }
  }
  &.nav-is-visible ul {
    visibility: visible;
    a {
      &::after {
        /* navigation item icons */
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        -webkit-animation: scaleIn 0.15s backwards;
        -moz-animation: scaleIn 0.15s backwards;
        animation: scaleIn 0.15s backwards;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
      }
      &.nuxt-link-exact-active {
        color: #ffffff;
        &::after {
          opacity: 1;
        }
        &::before {
          -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
          -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
          -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
          -o-transform: translateX(3px) translateY(-50%) scaleY(1);
          transform: translateX(3px) translateY(-50%) scaleY(1);
          -webkit-transition: -webkit-transform 0.15s 0.3s;
          -moz-transition: -moz-transform 0.15s 0.3s;
          transition: transform 0.15s 0.3s;
        }
      }
    }
    span {
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      -webkit-animation: slideIn 0.15s backwards;
      -moz-animation: slideIn 0.15s backwards;
      animation: slideIn 0.15s backwards;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;
    }
  }
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
  color: #ffffff;
  &::after {
    opacity: 1;
  }
  span {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

.cd-stretchy-nav.nav-is-visible ul li {
  &:first-of-type {
    a::after, span {
      -webkit-animation-delay: 0.05s;
      -moz-animation-delay: 0.05s;
      animation-delay: 0.05s;
    }
  }
  &:nth-of-type(2) {
    a::after, span {
      -webkit-animation-delay: 0.1s;
      -moz-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
  }
  &:nth-of-type(3) {
    a::after, span {
      -webkit-animation-delay: 0.15s;
      -moz-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }
  }
  &:nth-of-type(4) {
    a::after, span {
      -webkit-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
  }
  &:nth-of-type(5) {
    a::after, span {
      -webkit-animation-delay: 0.25s;
      -moz-animation-delay: 0.25s;
      animation-delay: 0.25s;
    }
  }
}

.cd-main-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 100px 0;
  background-color: #003c5d;
}

.content {
  h2 {
    font-style: italic;
  }
}

/* -------------------------------- 

keyframes

-------------------------------- */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }

  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}


@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }

  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}


@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }

  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}


@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}


@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}


@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}